body {
	padding-top:45px;
}

.footer-container {
	height : 50px;
}

.footer-container .navbar-brand {
	float: none;
	height: 50px;
	display: inline-block;
}

.navbar-static-bottom{
	position:absolute;
	bottom:0px;
}

.homecarousel{
	width:50%;
	margin-left:25%;
	margin-right:25%;
	margin-top:1%;
	height: 20%;
}
