	<h1>Liste des cocktails</h1>

	<div class="row">
	
	<% @cocktails.each_with_index do |cocktail, i| %>

		<div class="col-lg-4">		
			<ul class="list-group cocktail-list-item">
				<li class="list-group-item">
					<div class="row">
						<div class="col-lg-6">
							Nom: <%= cocktail.name %>
						</div>
						<div class="col-lg-6">
							Difficulté: <%= cocktail.rating %> /20
						</div>
					</div>
				</li>
				<li class="list-group-item"><%= cocktail.description %></li>
				<li class="list-group-item"><%= link_to 'Détails', cocktail %></li> 
			</ul>
		</div>

		<%if i%3==2 %>
			</div>
			<div class="row">
		<% end %>

	<% end %>
	
	</div>

<br>

<a href="/cocktails/new"><button>Ajouter un cocktail</button> </a> <br/>
<a href="/search_by_bar"><button>Rechercher les cocktails que je peux faire avec le contenu de mon bar</button> </a>
