<h1>Cocktails réalisables avec le contenu de mon bar</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Note</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= cocktail.description %></td>
        <td><%= cocktail.rating %> /20 </td>
        <td><%= link_to 'En savoir plus', cocktail %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

