<div class="row">
<div class="col-lg-2"></div>
<div class="col-lg-8">

	<div class="align"><h3><span class="label label-primary">Mon Bar</span></h3></div>

	<ul class="list-group">
		<% @bars.each do |bar| %>
		  <% if bar.user == current_user %>
			  <li class="list-group-item">
				<div class="row">
					<div class="col-lg-6">
						<%= bar.ingredient.name %></td> : <%= bar.quantity %> 
						<%if bar.ingredient.type==2 %>
							g
						<% else %>
							cl
						<% end %>
					</div>
					<div class="col-lg-6">
						<div class="align">
							<div class="btn-group btn-group-sm" role="toolbar">
								<div class="btn btn-default">
									<%= link_to 'Modifier quantité', edit_bar_path(bar) %>
								</div>
								<div class="btn btn-default">
									<%= link_to 'Supprimer ingrédient', bar, method: :delete, data: { confirm: 'Etes-vous certain de vouloir supprimer cet ingrédient de votre bar ?' } %>
								</div>
							</div>
						</div>
					</div>
				</div>
			  </li>
		  <%- end %>
		<% end %>
	</ul>

	<div class="align">
		<div class="btn-group" role="toolbar">
			<a href="/bars/new"><div class="btn btn-default">Ajouter un ingrédient</div></a>
			<a href="/search_by_bar"><div class="btn btn-default">Rechercher les cocktails que je peux faire avec le contenu de mon bar</div></a>
		</div>
	</div>
	
</div>
<div class="col-lg-2"></div>
</div>
